@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Capriola";
  src: URL("/Capriola/Capriola-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Vidaloka";
  src: URL("/fonts/Vidaloka.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  src: URL("/fonts/NotoSans-VariableFont.ttf") format("truetype");
}
